<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>follower list</title>
</head>
<body>
  <h1>Follower list</h1>
  <ul>      
      <% @followers.each do |user| %>
        <li><strong>name : </strong><%= link_to user.name, user_path(user.id) %></li>
      <% end %>
  </ul>
</body>
</html>